.BarraBusca{
  height: 50px;
  background: #51A018;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-items: center;
}

.campoBusca{
  /* background: white;
  width: 700px;
  height: 25px; */
  margin: auto;
  /* text-align: center; */
}