* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --backEnd: #118642;
  --navbar:#4e3535;
  --purple:#8318B4;
  --purpleDark:#36117E;
  --blueish:#2947a8;
  --primary: #2A7AE4;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --white: #FFFFFF;
  --frontEnd: #6BD1FF;
}

html,
body {
  margin: 0;
  padding: 0;
}

body{
  background: var(--purpleDark);
}

a {
  color: inherit;
} 