* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


:root {
  font-size: 16px;
  --verde: #51a018;
  --placeholder: #999;
  --cinzaClaro: #efefef;
  --cinzaMedio: #d1d1d1;
  --navbar:#4e3535;
  --verdeEscuro: #118642;
  --purpleDark:#36117E;

  --filtro: rgba(0, 0, 0, 0.2);

  /* --purple:#8318B4;
  --botaoBusca: #F3F9D2;
  --blueish:#2947a8;
  --primary: #2A7AE4;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --white: #FFFFFF;
  --frontEnd: #6BD1FF; */
}

html,
body {
  margin: 0;
  padding: 0;
}

body{
  background: var(--purpleDark);
}

a {
  color: inherit;
  text-decoration: none;
} 