.Logo {
  width: 96px;
  position: relative;
  display: block;
  margin: auto;
  padding-top: 20px;
    
  /* top: 20px;
  left: 41px; */

}

.Quadrado{
  height: 136px;
  position: relative;
  background: rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.3) ;
}

.Quadrado a{
  display: contents;
}

a{
  text-decoration: none;
}

h3{
  padding-left: 35px;
  color: var(--white);
}


.NavLateral {
  height: 100%;
  width: 210px;
  z-index: 100;

  display: inline-block;
  justify-content: space-between;
  

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background: var(--purple);
}

body {
  --bodyPaddingTop: 94px;
  padding-top: var(--bodyPaddingTop);
}

.ButtonLink {
  color: var(--white);
  border: 1px solid var(--white);
  box-sizing: border-box;
  cursor: pointer;
  padding: 16px 24px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  outline: none;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  transition: opacity .3s;
}
.ButtonLink:hover,
.ButtonLink:focus {
  opacity: .5;
}
