.Logo {
  width: 92px;
  margin: auto;
    
  /* top: 20px;
  left: 41px; */

}

.icon{
  margin-top : 1px;
  margin-right : 20px;
  transform: scale(1.2);
}

.Quadrado{
  height: 120px;
  /* position: relative; */
  background: rgba(0, 0, 0, 0.2);
  margin-bottom: 36px;
  display: flex;
  /* justify-items: center;
  align-items: center; */
  /* box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.3) ; */
}

.Quadrado a{
  display: contents;
}

a{
  text-decoration: none;
}

.ListaDados{
  font-size: 18px;
  padding-left: 15px;
  padding-top: 11px;
  padding-bottom: 11px;
  color: var(--white);
  display: flex;
  font-weight: 600;
}

.ListaDados:hover{
  background: var(--backEnd);
  /* background: #ba11c0; */
}



.NavLateral {
  height: 100%;
  width: 210px;
  z-index: 100;  

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background: var(--navbar);
}

body {
  --bodyPaddingTop: 94px;
  padding-top: var(--bodyPaddingTop);
}

.ButtonLink {
  color: var(--white);
  border: 1px solid var(--white);
  box-sizing: border-box;
  cursor: pointer;
  padding: 16px 24px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  outline: none;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  transition: opacity .3s;
}
.ButtonLink:hover,
.ButtonLink:focus {
  opacity: .5;
}
